*{
    margin: 0;
}
html{
    font-size: 16px; /* 1rem = 16px */
    font-family: Cambria, Georgia, serif;
}
body{
    max-width: 1444px;
    margin: auto;
}
#lightmode{
    color: #242424;
    background-color: #ffffff;
}

header{
    display: flex;
    margin: 1.5rem;
    padding-bottom: 1.5rem;
}
.titulo_registrarse{
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.25rem;
    margin-top: 0.3rem;
    transition: all 0.3s ease-in-out; /* OJOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
    background-color: #262626;
}

.form_registrarse , .captcha_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_registrarse input , .captcha_form input{
    font-family: Cambria, Georgia, serif;
    font-size: 1rem;
    width: 90vw;
    height: 3rem;
    border-radius: 1rem;
    border:none;
    cursor: pointer;
    background-color: #f1f2f6;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.captcha_form input{
    width: 55vw;
}

.captcha_desafio{
    font-size: 1.2rem;
    margin: 1rem;
    border: solid #2094f3 0.2rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

#captcha_submit{
    background-color: #2094f3;
    color: #ffffff;
    border: none;
    width: 80vw;
}

.captcha_resultado_positivo{
    font-size: 1.1rem;
    color: green;
}
.captcha_resultado_negativo{
    font-size: 1.1rem;
    color: red;
}